<a href="{% url 'equipos:create' %}">Agregar ciudad</a>
<br>
<table>
    <thead>
      <th>ID</th>
      <th>NOMBRE</th>
      <th>CIUDAD</th>
      <th>ESTADIO</th>
      <th></th>
      <th>ACTIONS</th>
      <th></th>
    </thead>
    <tbody>
      {% for x in equipos %}
        <tr>
          <td>{{ x.id }}</td>
          <td>{{ x.name }}</td>
          <td>{{ x.ciudad }}</td>
          <td>{{ x.estadio }}</td>
          <td><a href="{% url 'cities:city_detail' city.id %}" class="btn btn-info">Details</a></td>
          <td><a href="{% url 'cities:city_update' city.id %}" class="btn btn-warning">Update</a></td>
          <td><a href="{% url 'cities:city_delete' city.id %}" class="btn btn-primary">Delete</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
