
<br>
    <form action="" method="post">
        {% csrf_token %}
        ¿Deseas eliminar: {{ object }}?
        <button type="submit" class="btn btn-primary">Eliminar estadios</button>
        <a href="{% url 'estadios:list'%}" class="btn btn-warning">Cancel</a>
    </form>
<br>
