
<br>
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-success">Actualizar estadio</button>
        <a href="{% url 'estadios:list' %}" class="btn btn-primary">Cancel</a>
    </form>
<br>
